name: Android

on: 
  push:
    branches:
      - release-action

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Fastlane
      uses: maierj/fastlane-action@v1.4.0
      env:
        SLACK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      with:
       lane: 'beta'
